:root {
    /* Light Theme Colors */
    --light-background: #ECFDF5;
    --light-text: #0C090A;

    /* Dark Theme Colors */
    --dark-background: #1F2937;
    --dark-text: #E5DED4;

    --main-green: #4ADF86;
    --secondary-green: #10B981;
    --text-green: #5DEF92;
    
    --dark-ish: #273549;
    --sub-text: #6B7280;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}

.test {
    border: 1px dotted blue;
}

/* Page Themes Configuration START */
.light {
    background-color: var(--light-background);
    color: var(--light-text);
}

.dark {
    background-color: var(--dark-background);
    color: var(--dark-text);
}
/* Page Themes Configuration END */

.title, .subtitle {
    display: block;
}

.title {
    font-family: Karla, Arial;
    font-size: 40px;
    font-weight: 800;

    margin-bottom: -8px;
}

.subtitle {
    color: var(--sub-text);
    font-size: 20px;

    margin-top: 25px;
    margin-bottom: 50px;
}

.emphasize {
    color: var(--main-green);
}

.btn-confirm {
    width: 160px;
    padding: 8px 0px;

    border-radius: 6px;
    border: none;

    background-color: var(--secondary-green);
    color: var(--light-background);

    font-family: inherit;
}

/* Page Items Organization */

.divisor {
    width: 75%;
    margin: 30px  auto;

    border: 1px solid #999fab;
}

input[type=number] {
    background-color: var(--dark-ish);
    color: var(--light-background);
    
    border: none;
    border-radius: 5px;

    text-align: center;
}

@media only screen and (min-width: 651px) {
    #main-section {
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;

    width: 75%;
    height: 250px;
    
    display: flex;
    flex-direction: column;
    }

    #functions {
    width: 100%;

    display: flex;
    flex-direction: row;
    
    justify-content: space-evenly;
    }

    .flex-column {
    display: flex;
    flex-direction: column;
    }

    #password {
    margin: 0 auto;

    width: 75%;

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    }

    .output-area {
    background-color: var(--dark-ish);
    color: var(--text-green);
    
    width: 180px;
    height: 30px;

    border-radius: 6px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    }
}

@media only screen and (max-width: 650px) {
    #main-section {
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;

    width: 75%;
    height: 400px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    }

    #functions {
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
    }

    .btn-confirm {
        margin-top: -25px;
        margin-bottom: 25px;
    }

    .flex-column {
    display: flex;
    flex-direction: column;

    margin-bottom: 15px;
    align-items: center;
    }

    #size-el {
        display: block;
        width: 50px;
    }

    #password {
    margin: 0 auto;

    width: 75%;

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;
    }

    .output-area {
    background-color: var(--dark-ish);
    color: var(--text-green);
    
    width: 180px;
    height: 30px;

    border-radius: 6px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 25px;
    }
}